<div class="top-right-buttons">
    <button id="modeToggle" class="mode-toggle">Dark Mode</button>
    <div class="profile-dropdown">
        <button class="profile-btn">Profile</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/messages">Messages</a>
            <a href="/collaboration">Collaboration</a>
            <a href="/teams">Teams</a>
            <a href="/find_peer">Find Peer</a>
            <a href="/help">Help</a>
            <a href="/classes">classes</a>
            <a href="/calendar">calendar</a>

        </div>
    </div>
</div>